body{
    margin: 0;
    padding: 0;
    background-color: beige;
}
#banner{
    margin: auto;
    width: 70%;
    height: 400px;
    background-image: url("/image/baner.jpg");
    border-radius:25px;
}
#login{
    margin: auto;
    width: 30%;
    height: 200px;
    border-radius:15px;
    background-color: aqua;
}
.loginInput{
    margin: auto;
    margin-top: 10%;
    width: 80%;
    height: 20%;
    border-radius:3px;
}
